a.errorcode-picker-icon-link {
    background-image: url("../images/errorcode-picker.gif");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 17px;
    line-height: 17px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    white-space: nowrap;
}