.input-area label {
    width: 150px;
    display: block;
    float: left;
}

.vertical-line {

background-image:url(../images/line.png);
background-position:8px 0;
background-repeat:repeat-y;

}

.vertical-line-alone {

background-image:url(../images/line.png);
background-position:8px 0;
background-repeat:repeat-y;
clear:left;
height:15px;
margin-top:0;
padding-bottom:0;
width:16px;

}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.treePane {
    padding-left: 10px;
    padding-top: 10px;
}

.child-list {
clear:left;
float:left;
padding-bottom:10px;
padding-left:26px;
}

.child-list li {
clear:left;
float:left;
text-align:left;
}

.branch-node {
background-image:url(../images/line.png);
background-position:8px 0;
background-repeat:repeat-y;
clear:left;
float:left;
height:15px;
margin-left:26px;
_margin-left:13px;
margin-top:0;
width:16px;
}

.resources {
background-image:url(../images/node-normal.gif);
background-position:2px 3px;
background-repeat:no-repeat;
float:left;
line-height:22px;
margin-left:2px;
margin-top:0;
vertical-align:middle;
}
.resources a{
    background-position:3px 2px;
background-repeat:no-repeat;
border-color:#E8E8E8 #E8E8E8 #E8E8E8 #CCCCCC;
border-color:#E8E8E8 #E8E8E8 #E8E8E8 #CCCCCC;
border-color:#E8E8E8 #E8E8E8 #E8E8E8 #CCCCCC;
color:#00447C;
cursor:pointer;
display:block;
float:left;
line-height:21px;
height: 21px;
padding-right:5px;
text-indent:24px;
white-space:nowrap;
}
.root-api, .resource{
    background-image: url( ../images/node-normal.gif );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: 25px;
    font-size:11px;
}
.minus-icon {
    background-image: url( ../images/icon-tree-minus.gif );
	background-position:0 0;
	background-repeat:no-repeat;
	clear:left;
	cursor:pointer;
	float:left;
	height:22px;
	margin-left:0;
	width:22px;
	z-index:100;

}

.dot-icon {
    background-image: url( ../images/icon-tree-dot.gif );
    background-repeat: no-repeat;
    background-position: 0px 0px;
    /*position: absolute;*/
    width: 22px;
    height: 22px;
    z-index: 100;
    cursor: pointer;
	float:left;
clear: left;
    margin-left:0px;
}

.plus-icon {
background-image:url(../images/icon-tree-plus.gif);
background-position:0 0;
background-repeat:no-repeat;
clear:left;
cursor:pointer;
float:left;
height:32px;
margin-left:0;
margin-top:0;
width:22px;
z-index:100;
}

.endpoit-toolbar {
    border: solid 1px #3d5a72;
    background-color: #ccd3d8;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    height: 230px;
    position: absolute;
    right: 10px;
    top: 100px;
}

.endpoit-toolbar a {
    display: block;
    border-bottom: solid 1px #91aabd;
    padding: 3px;
    color: #2f486a;
    text-decoration: none;
    vertical-align: middle;
}

.endpoit-toolbar a img {
    border: none;
    vertical-align: middle;
    padding-right: 5px;
}
.endpoint-info{
    margin-top:10px;
}
.endpoint-info-title {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

.endpoint-info-content {
    background-color: #ffffff;
    border: solid 1px #767676;
    padding: 5px;
}
.selected-node {
background-color:#E8E8E8;
border: solid 1px #E8E8E8;
color:#00447C;
}
.selected-node a {
color:#0D4D79 !important;
}
.error-message{
    border:solid 1px #91aabd;
    padding:10px;
    margin-bottom:5px;
    background-color:#f1f1f1;
    color:#ee2f00;
    font-size:12px;
}
/* Tab styles */
.tabPane {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: -1px;
    height: 23px;
}

.tabPane li {
    float: right;
    background-image: url( ../images/tab-unselected.gif );
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 98px;
    height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    padding-top: 3px;
}

.tabPane li.selected {
    color: #000000;
    background-image: url( ../images/tab-selected.gif );
    float: right;
    border:none;
}

.tabPaneContent,.tabPaneContentMain {
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 0px;
}
h1{
    margin-bottom:20px;
    font-weight:bold;
}
h2{
   font-weight:bold;
   font-size:16px;
   color:#595959;
}
h3{
   font-weight:bold;
   font-size:12px;
   color:#595959;
}
.form-table td{
   padding-bottom:10px;
   padding-right:10px;
    height:25px;
}
.indented{
    text-indent:15px;
    color:#595959;
}
.sequenceToolbar div a {
cursor:pointer;
font-family:verdana;
font-size:10px;
text-indent:0;
width:auto;
}
.sequenceToolbar div {
float:left;
margin-right:5px;
}
.sequenceToolbar {
background-color:#fff;
border-color:#E8E8E8 #E8E8E8 #E8E8E8 #CCCCCC;
border-style:solid;
border-width:1px;
float:left;
height:21px;
line-height:21px;
padding-left:3px;
padding-right:3px;
}
.addChildStyle, .addSiblingStyle {
background-image:url(../../admin/images/add.gif);
background-position:0 0;
background-repeat:no-repeat;
padding-left:22px;
padding-right:0 !important;
}
.deleteStyle{
background-image:url(../../admin/images/delete.gif);
background-repeat:no-repeat;
background-position:0 0;
display:block;
height:18px !important;
padding-left:22px;
padding-right: 0px !important;
}
