a.icon-link-disabled {
    background-image: url(../images/default-menu-icon.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 20px;
    line-height: 17px;
    height: 17px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    white-space: nowrap;
    cursor: default;
    color: gray;
}